{% extends 'base_auth.html' %}
{% comment %} loading crispy forms library {% endcomment %}
{% load crispy_forms_tags %}

{% block title %} Registration {% endblock %}

{% block content %}

<div>
    <div class="row col-md-6 mt-5 offset-md-3 align-items-center">

        <div class="border p-3">
            <div class="title offset-md-2">
                <h2>User Registration</h2>
            </div>

            <hr class="bg-danger">

            <div class="card-body">
                <!--form from form.py will be here-->

                <form method=POST>
                    {% csrf_token %}

                    {% crispy form %}


                    <button type="submit" class="btn btn-primary btn-outline-primary ">

                        {% comment %} the url name must be similar to the name in the views {% endcomment %}
                        <a href="{% url 'login' %}" style="text-decoration: none; 
                            color: #fff; border-radius: 10px; padding: 12px; margin: 15px;">

                            Register User
                        </a>
                        <!--when user clicks this button they will be directed to register page-->
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}