{% extends 'base_auth.html' %}
{% block title %} Registration {% endblock %}

{% block content %}

<div>
    <div class="row col-md-6 mt-5 offset-md-3 align-items-center">

        <div class="border p-3">
            <div class="title offset-md-2">
                <h2>User Registration</h2>
            </div>

            <hr class="bg-danger">

            <div class="card-body">
                <!--form from form.py will be here-->

                <button type="submit" class="btn btn-primary btn-outline-primary ">
                
                    <a href="{% url 'login' %}" style="text-decoration: none; 
                        color: #fff; border-radius: 10px; padding: 12px; margin: 15px;">
                
                        Register your account
                    </a>
                    <!--when user clicks this button they will be directed to register page-->
                </button>
            </div>
        </div>

    </div>
</div>

{% endblock %}