{% extends 'base.html' %}
{% block title %} Customer profiles {% endblock %}

{% block content %}
<table class="table table-hover table-bordered mt-4">

    <thead class="table-dark">
        <tr>
            <!--these are the headings for the table-->
            <th scope="col">Full name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>

            
            <th scope="col">View</th>

        </tr>

    </thead>

    <tbody>


    </tbody>

</table>

{% endblock %}